[submodule "fishlibc"]
	path = fishlibc
	url = https://github.com/urhacksucks/fishlibc

[submodule "tools-src/tools-for-X5"]
	path = tools-src/tools-for-X5
	url = https://github.com/cherrybsdtan/tools-for-X5.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/starfive-tech/opensbi.git
